body {
    background-color: #121212; 
    color: white; 
}

main{

max-width: 840px;
}

aside{
width: 20rem;
margin: 1rem;
border: 1 px solid red;
padding: 100 px;
background-color: rgb(26, 71, 88);
color: white;
text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
nav {
    background-color: blue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: white;
    
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer{
    margin-top: 10px;
    border-top: 1px white;
    text-align: center;
}

