/* Variables that make it easier to use functions in CSS*/
:root{
    --text_color: white;
    --color3: rgb(7, 1, 26);
    --padding: 10px
}

/* Page design */
body {
    background-color: var(--color3); 
    color: var(--text_color); 
}

main{

max-width: 840px;
}

aside{
width: 20rem;
margin: 1rem;
border: 1 px solid red;
padding: 100 px;
background-color: rgb(26, 71, 88);
color: var(--text_color);
text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
nav {
    background-color: blue;
    border: 1px solid white;
    padding: var(--padding);
}

nav a {
    color: var(--text_color);
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--text_color);
    
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid var(--color3);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

footer{
    margin-top: 10px;
    border-top: 1px var(--text_color);
    text-align: center;
}

